
body{
  background-color: black;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
   background-color: black;
}

.calc-wrapper {
  background-color: white;
  width: 400px;
  border-radius: 16px;
}

.row {
  display: flex;
}


.heading p {
  font-size:  50px;
  color: white;
}
